$back-first: #ffffff;

$back-second: #81b3d2;

$back-second--hover: #669ec0;

$back-second--active: #5496bd;

$back-gray: #f2f2f2;

$back-gray-light: #eeeeee;

$text-first: #000000;

$text-second: #333333;

$link-current: #766357;

$link-current--hover: #604e43;

$divider-gray: #678fa8;

$divider-light: #9ac2db;

$menu-bottom-shadow: #00000033;

$disabled-gray: #e5e5e5;
